/*Colors*/

//ORANGE
$orange-100: hsl(10, 79%, 65%);
$orange-200: hsl(10, 100%, 76%);

//WHITE
$white-100: hsl(33, 100%, 98%);
$white-200: hsl(27, 66%, 92%);
$white-300: hsl(32, 38%, 92%);
//$white-400: hsl(0, 0%, 100%);

//CYAN
$cyan-100: hsl(186, 34%, 60%);
$cyan-200: hsl(187, 49%, 80%);

//BROWN
$brown-100: hsl(25, 47%, 15%);
$brown-200: hsl(28, 10%, 53%)
