@import '_colors.scss';
@import '_font.scss';
@import '_utilities.scss';

/* COLORS */

$header-background-color: $orange-100;
$content-background-color: $white-100;

$white-color-text: $white-300;
$brown-color-title: $brown-100;
$brown-color-text: $brown-200;

body{
    background-color: $white-200;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 540px;
    @include device(mobile){
        max-width: 345px;
        padding: 0 10px;
    }

    > *{
        padding-left: 35px;
        padding-right: 35px;
        @include device(mobile){
            padding-left: 22px;
            padding-right: 22px;
        }
    }
}

.border-radius{
    border-radius: 12px;
    @include device(mobile){
    border-radius: 20px;
    }
}

.logo{
    @include device(mobile){
        width: 58.34px;
        height: 39px;
    }
}

