@import '_utilities.scss';

/*FONTS*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
$font: 'DM Sans', sans-serif !important;

.font-title{
    font-family: $font;
    font-size: 32px;
    line-height: 42px;
    @include device(mobile){
        font-size: 24px;
        line-height: 32px;
    }
}

.font-title-lg{
    font-family: $font;
    font-size: 48px;
    line-height: 62px;
    @include device(mobile){
        font-size: 30px;
        line-height: 39px;
    }
}

.font-body{
    font-family: $font;
    font-size: 16px;
    line-height: 21px;
    @include device(mobile){
        font-size: 12px;
        line-height: 16px;
    }
}

.font-body-lg{
    font-family: $font;
    font-size: 18px;
    line-height: 23px;
    @include device(mobile){
        font-size: 14px;
        line-height: 18px;
    }
}