/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Colors*/
/*FONTS*/
.font-title, #spending-info h2, #balance-info div[role=group] h2 {
  font-family: "DM Sans", sans-serif !important;
  font-size: 32px;
  line-height: 42px;
}
@media (max-width: 425px) {
  .font-title, #spending-info h2, #balance-info div[role=group] h2 {
    font-size: 24px;
    line-height: 32px;
  }
}

.font-title-lg, #spending-info .footer h1 {
  font-family: "DM Sans", sans-serif !important;
  font-size: 48px;
  line-height: 62px;
}
@media (max-width: 425px) {
  .font-title-lg, #spending-info .footer h1 {
    font-size: 30px;
    line-height: 39px;
  }
}

.font-body {
  font-family: "DM Sans", sans-serif !important;
  font-size: 16px;
  line-height: 21px;
}
@media (max-width: 425px) {
  .font-body {
    font-size: 12px;
    line-height: 16px;
  }
}

.font-body-lg, #spending-info .footer p, #balance-info div[role=group] p {
  font-family: "DM Sans", sans-serif !important;
  font-size: 18px;
  line-height: 23px;
}
@media (max-width: 425px) {
  .font-body-lg, #spending-info .footer p, #balance-info div[role=group] p {
    font-size: 14px;
    line-height: 18px;
  }
} /* COLORS */
body {
  background-color: hsl(27deg, 66%, 92%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 540px;
}
@media (max-width: 425px) {
  .container {
    max-width: 345px;
    padding: 0 10px;
  }
}
.container > * {
  padding-left: 35px;
  padding-right: 35px;
}
@media (max-width: 425px) {
  .container > * {
    padding-left: 22px;
    padding-right: 22px;
  }
}

.border-radius, #spending-info #bar-chart, #spending-info, #balance-info {
  border-radius: 12px;
}
@media (max-width: 425px) {
  .border-radius, #spending-info #bar-chart, #spending-info, #balance-info {
    border-radius: 20px;
  }
}

@media (max-width: 425px) {
  .logo {
    width: 58.34px;
    height: 39px;
  }
}

#balance-info {
  background-color: hsl(10deg, 79%, 65%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
}
@media (max-width: 425px) {
  #balance-info {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
#balance-info div[role=group] {
  color: hsl(32deg, 38%, 92%);
}
#balance-info div[role=group] h2 {
  font-weight: 700;
}

#spending-info {
  background-color: hsl(33deg, 100%, 98%);
  margin-top: 24px;
  padding-top: 35px;
  padding-bottom: 35px;
}
#spending-info h2 {
  color: hsl(25deg, 47%, 15%);
  font-weight: 700;
  margin-bottom: 17px;
}
#spending-info #bar-chart {
  width: 100%;
  height: 227px;
  background-color: hsl(186deg, 34%, 60%);
  margin-bottom: 28px;
}
#spending-info .footer {
  border-top: 2px solid hsl(32deg, 38%, 92%);
  padding-top: 32px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#spending-info .footer p {
  font-weight: 700;
  color: hsl(28deg, 10%, 53%);
}
#spending-info .footer p.indicator {
  color: hsl(25deg, 47%, 15%);
}
#spending-info .footer h1 {
  color: hsl(25deg, 47%, 15%);
  font-weight: 700;
}
#spending-info .footer .footer-right {
  text-align: right;
}
@media (max-width: 425px) {
  #spending-info {
    margin-top: 14px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  #spending-info h2 {
    margin-bottom: 52px;
  }
  #spending-info #bar-chart {
    width: 100%;
    height: 177px;
    margin-bottom: 25px;
  }
  #spending-info .footer {
    padding-top: 24px;
  }
}/*# sourceMappingURL=style.css.map */